name: build-and-push-image
on:
  push:
    branches: [develop, feat/php-8-4-base]
  pull_request:
    branches: [main]
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

env:
  AZURE_REGISTER_NAME: "${{ github.ref_name == 'main' && 'nbtreg' || 'pprodnbtregistry' }}"
  AZURE_REGISTER_SUFFIX: "${{ github.ref_name == 'main' && 'nbtreg' || '-aucgecdkece6b5d7' }}.azurecr.io"
  AZURE_SUBSCRIPTION_ID: "${{ github.ref_name == 'main' && secrets.AZURE_SUBSCRIPTION_ID || secrets.AZURE_SUBSCRIPTION_ID_PPROD }}"

jobs:
  build-push-images:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target:
          - IMAGE_NAME: php-8-4-base

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Azure login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ env.AZURE_SUBSCRIPTION_ID }}

      - name: Docker push image
        run: |
          az acr login --name ${{ env.AZURE_REGISTER_NAME }}
          IMAGE_PATH="${{ env.AZURE_REGISTER_NAME }}${{ env.AZURE_REGISTER_SUFFIX }}/${{ matrix.target.IMAGE_NAME }}"
          docker build -t $IMAGE_PATH -f "./Dockerfile-${{ matrix.target.IMAGE_NAME }}" .
          docker push $IMAGE_PATH
